<P> You have reached page2</P>

<div>
    <h1>List of calls</h1>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading</div>


            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Caller</th>
                        <th>Date of call</th>
                        <th>Time of call</th>
                        <th>Case number</th>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <form id="addForm" action=" " role="form" ng-submit="add_item(newRecord)" class="form-inline">
                            <div class="input-sm">
                                <td class="vert-align">
                                    <input id="caller" type="text" ng-model="newRecord.caller"
                                           class="form-control" ng-required="true"></td>
                                <td width="35%" class="vert-align">
                                    <div class="input-group"><input type="text" class="form-control"
                                                                    datepicker-popup="{{format}}"
                                                                    ng-model="newRecord.date" is-open="opened"
                                                                    datepicker-options="dateOptions"
                                                                    ng-required="true" close-text="Close"/><span
                                            class="input-group-btn"><button type="button" class="btn btn-default"
                                                                            ng-click="open($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button></span></div>
                                </td>
                                <td class="vert-align">
                                    <timepicker ng-model="newRecord.time" ng-change="changed()"
                                                show-meridian="ismeridian" arrowkeys="false"
                                                ng-required="true"></timepicker>
                                </td>
                                <td class="vert-align"><input id="label" type="text" ng-model="newRecord.case"
                                                              class="form-control" ng-required="true"></td>
                                <td class="vert-align">
                                    <button type="submit" class="btn btn-default">Add</button>
                                </td>
                            </div>
                        </form>

                    </tr>
                    <tr class="animate" ng-repeat="record in items | filter:search" role="presentation">
                        <td>{{record.caller}}</td>
                        <td>{{record.date | date:'shortDate'}}</td>
                        <td>{{record.time | date:'shortTime'}}</td>
                        <td>{{record.case}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="delete_item(record)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <td>
                        </td>
                    </tr>
                    </thead>
            </div>

            </table>
        </div>


    </div>
</div>